.campaign-content {

	&__wrapper {
		padding-top : 650px;
		position : relative;

		@include break(small) {
			padding-top : 430px;
		}

		&:after {
		    position: absolute;
		    content: '';
		    display: block;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 600px;
		    z-index: 1;
			background : url(../images/bg-1.jpg) center bottom no-repeat;

			@include break(small) {
				height : 380px;
				background-size: auto 380px;
			}
		}
	}

	&__header, &__description, &__disclaimer {
		font-size     : 30px;
		color         : #000;
		line-height   : 1.25;
		margin-bottom : 30px;
	}

	&__description {
		font-size : 16px;
	}

	&__cta-btn {
		@extend %btn_primary;
		display         : inline-flex;
		align-items     : center;
		justify-content : center;
		text-decoration : none;
	}

	&__disclaimer {
		font-size : 13px;
		font-style : italic;
		padding-top : 10px;

		p {
			font-style : inherit;
		}
	}
}