.form {
	&__input-holder {
		margin-bottom : 20px;
	}

	&__label {
		font-size     : 14px;
		font-weight   : bold;
		line-height   : 1.25;
		margin-bottom : 5px;
		display       : block;
	}

	&__submit {
		@extend %btn_primary;
	}

	&__input {
		width       : 100%;
		box-shadow  : none;
		border      : 1px solid #ccc;
		height      : 45px;
		padding     : 0 20px;
		font-size   : 14px;
		line-height : 1.25;
		color       : #000;

		@include break(small) {

		}
	}

	&__status {
		font-size   : 13px;
		line-height : 1.25;
	}

	&__input-error {
		font-size : 12px;
		padding   : 5px 0 0 5px;
		color     : #f00;
	}

	&__reset-link {
		font-size : 13px;
		color     : #000;
	}

}