.hidden {
	display : none !important;
}

img {
	max-width : 100%;
	height    : auto;
	width     : 100%;
}

* {
	box-sizing : border-box;
}

%container {
	width         : 1170px;
	padding-left  : 15px;
	padding-right : 15px;
	margin-left   : auto;
	margin-right  : auto;

	@include break(desktop) {
		width : 970px;
	}
	@include break(medium) {
		width : 750px;
	}
	@include break(small) {
		width : 100%;
	}
}

%page-title {
	font-style     : normal;
	position       : relative;
	font-weight    : bold;
	line-height    : 1.2;
	color          : #132c00;
	text-transform : unset;
}

body {
	font-family : 'Libre Franklin', sans-serif;

	* {
		outline     : none !important;
		box-sizing  : border-box;
		font-family : inherit;
	}

	strong {
		font-weight : bold;
	}

	.text-center {
		text-align : center;
	}

	.container {
		@extend %container;
	}

	p {
		@extend %page-title;
		font-weight   : normal;
		font-size     : 14px;
		line-height   : 1.5;
		margin-bottom : 30px;

		&:empty {
			display : none;
		}
	}

	blockquote {
		border-left  : 3px solid #132c00;
		padding-left : 15px;
	}

	h1 {
		@extend %page-title;
		font-size     : 42px;
		font-weight   : bold;
		margin-bottom : 15px;
	}

	h2 {
		@extend %page-title;
		font-weight    : 300;
		font-size      : 39px;
		text-transform : none;
		margin-bottom  : 40px;
	}

	h3 {
		@extend %page-title;
		font-weight    : bold;
		font-size      : 30px;
		text-transform : none;
		margin-bottom  : 25px;
	}

	h4 {
		@extend %page-title;
		font-weight    : bold;
		font-size      : 26px;
		text-transform : none;
		margin-bottom  : 25px;
	}

	h5 {
		@extend %page-title;
		font-weight    : bold;
		font-size      : 22px;
		text-transform : none;
		margin-bottom  : 25px;
	}

	h6 {
		@extend %page-title;
		font-weight    : bold;
		font-size      : 18px;
		text-transform : none;
		margin-bottom  : 25px;
	}

	ul {
		list-style-type : disc;
	}

	ol {
		list-style-type : decimal;
	}

	li {
		@extend %page-title;
		font-weight   : normal;
		font-size     : 14px;
		line-height   : 1.25;
		color         : #1E1F20;
		margin-bottom : 10px;
	}
}

.site-page {
	display        : flex;
	flex-direction : column;
	min-height     : 100vh;
}

%btn_primary {
	border           : none;
	background-color : #be3031;
	height           : 45px;
	padding          : 0 20px;
	font-size        : 14px;
	line-height      : 1.25;
	color            : #fff;
	box-shadow       : none;

	&:hover {
		background-color : #8e2424;
	}
}


.site-content {
	padding-top : 130px;

	body.single-campaigns & {
		padding-top : 90px;
	}
}