.site-header {
	position   : fixed;
	z-index    : 1000;
	left       : 0;
	top        : 0;
	width      : 100%;
	padding    : 30px 0;
	background : #fff;
	box-shadow : 0 2px 10px 5px rgba(0, 0, 0, 0.14);

	&__container {
		display         : flex;
		align-items     : center;
		justify-content : space-between;
	}

	&__logo {
		margin-right    : 20px;
		width           : 200px;
		display         : block;
		text-decoration : none;
		color           : #000;

		span {
			display : block;
		}
	}
}